@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: Oswald, sans-serif; 
}

.card-container {
    width: 100%;
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}    

.card{    
    width: 600px;
    height: 400px;
    background-image: url('./../img/card-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: blanchedalmond;
    cursor: pointer;
    transition: 0.3s;
}

.card-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-content::before {
    content: ' ';
    position: absolute;
    width: 100px;
    height: 100px;    
    border: 1px solid blanchedalmond;
    opacity: 0;
    transition: 0.3s;
}

.card-content h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-content p{
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-content::before{
    width: 500px;
    height: 300px;
    opacity: 1;
}

.card:hover > .card-content p {
    font-size: 20px;
    visibility: visible;
    opacity: 1;
}