@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&display=swap');

body{
    margin: 0;
    border: 0;
    font-family: 'Rajdhani', sans-serif;
    color: blanchedalmond;
}

.main-header{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, rgba(182,95,60,1) 0%, rgb(124, 75, 19) 33%,  rgb(165, 118, 47) 66%,rgb(235, 189, 53) 100%);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: backgroundTransition 8s ease-in-out infinite;
}  
@keyframes backgroundTransition{
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}

/* ================= MENU BUTTON ===================*/
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-label{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s ease-in-out 0s;
}

.menu-label .trace {
    width: 70px;
    height: 8px;
    border-radius: 4px;
    background-color:blanchedalmond;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.menu-label .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.menu-label .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.menu-label .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#menu-check {
    display: none;
}

/* ==== menu button crossing ANIMATION ===*/
#menu-check:checked + .menu-label .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}

#menu-check:checked + .menu-label .trace:nth-child(2){
    transform:translateX(-100);
    width: 30px;
    visibility: hidden;  
}

#menu-check:checked + .menu-label .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}

/* ============== menu ITEMS ===========*/
.menu-background{
    position: absolute;
    background-color: blanchedalmond;
    top: -25%;
    right: -20%;
    height: 40px;
    width: 40px;
    visibility: hidden;
    border-radius: 50%;
    /* box-shadow: 0px 0px 0px 0px blanchedalmond; */
    transition: 0.5s ease-in-out 0s;
}

.menu-content{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    visibility: hidden;
    list-style-type: none;    
    transition: 0.5s ease-in 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a{
    margin: 10px 0;
    font-size: 40px;
    font-weight: bold;
    color:rgb(124, 75, 19);
    text-decoration: none;
    text-transform: capitalize;
    transition: ease-in-out;
}

.menu-items ul li a:hover{
    color:rgb(165, 118, 47)
}

/* =============== MENU APPEARANCE ANIMATION ========== 
*/
#menu-check:checked + .menu-label{
    background-color: blanchedalmond;
}

#menu-check:checked + .menu-label .trace {
  background-color: rgb(124, 75, 19);
} 

#menu-check:checked ~ .menu-content{ 
    opacity: 1;  
    visibility: visible;  
    z-index: 2; 
} 

 #menu-check:checked ~ .menu-background{
    width: 110%;
    height: 120vh;    
    /* box-shadow: 0px 0px 0px 50vmax red; */ 
    visibility: visible;
}

#menu-check:checked ~ .main-header .header-content {
    visibility: hidden;
    opacity: 0;
}

/* ==== HEADER CONTENT ===== */
.header-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1, h2{
    letter-spacing: 3px;
}


.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px; 
    padding: 1rem 4rem;
    min-width: 4rem;
    border: 1px solid blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: 400ms cubic-bezier(0.55, 0.025, 0.675, 0.97)  
}

.social-media a:hover {
    color: rgb(124, 75, 19);
    background-color: blanchedalmond;
}

/* =========== PAGE CONTENT - ARTICLE SUMMARIES =====
*/
.content-area{
    color:rgb(124, 75, 19);
    width: 100%; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 1rem 0;
}
.content-area h2{
    font-size: 50px;
}
.content-area a{
    color: rgba(182,95,60,1);
    font-weight: bold;
}
.content-area a:hover{
    color: rgb(235, 189, 53)
}

.all-summaries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

}
.summary-wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.summary-wrapper2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%
}

.text-summary{
    width: 50%;
    padding: 0 2rem;
    font-family: 'Gentium Basic', serif;
}

.card-wrapper{
    width:50%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid blanchedalmond;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    color:rgb(235, 189, 53);
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    color:rgb(235, 189, 53);
    font-weight: bold;

}
.card{
    width: 450px;
    height: 300px;
    margin: 1em 3em;
    background-image: url('../img/card-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: blanchedalmond;
    cursor:pointer;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 200px;
}

footer {
    padding: 0.02rem;
    font-weight: bold;
    font-display: 2px;
    text-align: center;
    background-color: rgb(124, 75, 19);
    color:blanchedalmond;
    width: 100%;

}

